body {
    background-image: url(../Images/back.jpg );
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


h2 {
    top: 10px;
    text-align: center;
    font-size: 29px;
    color: black;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}

    .navbar li, h2 {
        font-size: 35px;
        color: white;
        padding: 43px;
    }

.PanelBoczny {
    outline: none;
    position: absolute;
    bottom: auto;
    height: auto;
    left: 0;
    background-color: whitesmoke;
    width: 130px;
    overflow: hidden;
}

a {
    position: relative;
    font-size: 14px;
    display: table;
    width: 290px;
    padding: 30px;
    color: Gray;
}

.fas {
    width: 70px;
    position: relative;
    height: 40px;
    top: 14px;
    text-align: center;
    font-size: 50px;
}

.fa-solid {
    width: 70px;
    position: relative;
    height: 40px;
    top: 14px;
    text-align: center;
    font-size: 50px;
}

.item {
    top: 15px;
    font-size: 24px;
    margin-left: 29px;
}

a:hover {
    background-color: lightgray;
}

.PanelBoczny:hover {
    width: 280px;
}

.PanelBoczny ul li {
    border-bottom: 1px solid rgb(128, 128, 128);
    border-top: 1px solid rgb(128, 128, 128);
}


#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}

.content {
    margin-left: 12%;
    padding: 10;
    font-size: 25px;
    color: black;
    width: auto;
    height: 60%;
    opacity: 0.5;
    text-align: center;
    top: 10%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 300px;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background-color: lightblue;
    color: White;
    cursor: pointer;
    position: relative;
    border-color: skyblue;
    overflow: hidden;
}

.BtnTxt {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: skyblue;
    position: absolute;
}


.btn:hover .BtnTxt {
    width: 100%;
    border: none;
}

.h1 {
    text-align: center;
}

.input {
    width: 500px;
    height: 50px;
}

.content div {
    margin: 20px;
    width: 30%;
}

.content .nadch {
    background-color: whitesmoke
}


.content .GetLast {
    background-color: whitesmoke
}

.content .History {
    background-color: whitesmoke
}

.History h1 {
    margin-top: 10%;
}

.nadch h1 {
    margin-top: 10%;
}

.GetLast h1 {
    margin-top: 10%;
}

.nadch:hover {
    background-color: skyblue;
}

.History:hover {
    background-color: skyblue;
}

.GetLast:hover {
    background-color: skyblue;
}

.content a {
    width: 100%;
    height: 100%;
}

    .content a:hover {
        background-color: skyblue;
    }


